@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  animation: rotate 2.625s linear infinite;
  width: 3rem;
  height: 3rem;
  transform-origin: center;
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
}

.loader circle {
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #4c40f5;
}
